In [3]:
import requests as req
import pandas as pd

In [4]:
df = pd.read_csv('https://assets.upstox.com/market-quote/instruments/exchange/complete.csv.gz')

df.columns

Index(['instrument_key', 'exchange_token', 'tradingsymbol', 'name',
       'last_price', 'expiry', 'strike', 'tick_size', 'lot_size',
       'instrument_type', 'option_type', 'exchange'],
      dtype='object')

In [5]:
df['exchange'].unique()

array(['NCD_FO', 'BSE_EQ', 'NSE_EQ', 'BSE_FO', 'NSE_FO', 'BCD_FO',
       'BSE_INDEX', 'MCX_FO', 'NSE_COM', 'NSE_INDEX'], dtype=object)

In [12]:
df[(df['instrument_key'] == 'BHARAT ELECTRONICS LTD') & (df['exchange'] == 'BSE_EQ')]

Empty DataFrame
Columns: [instrument_key, exchange_token, tradingsymbol, name, last_price, expiry, strike, tick_size, lot_size, instrument_type, option_type, exchange]
Index: []

In [34]:
df[df['exchange'] == 'NSE_EQ']

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
14,NSE_EQ|INE869I01013,21195,GTPL,GTPL HATHWAY LIMITED,105.31,NaN,NaN,0.01,1.0,EQUITY,NaN,NSE_EQ
43,NSE_EQ|INE399C01030,11689,SUPRAJIT,SUPRAJIT ENGINEERING LTD,388.95,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
55,NSE_EQ|INE0MJQ01020,12986,PRITIKA,PRITIKA ENG COMPO LTD,69.85,NaN,NaN,0.05,2000.0,EQUITY,NaN,NSE_EQ
91,NSE_EQ|INE0LLY01014,27213,EIEL,ENVIRO INFRA ENGINEERS L,198.14,NaN,NaN,0.01,1.0,EQUITY,NaN,NSE_EQ
93,NSE_EQ|INE0J1E01027,10293,KCK,KCK INDUSTRIES LTD,36.85,NaN,NaN,0.05,2500.0,EQUITY,NaN,NSE_EQ
...,...,...,...,...,...,...,...,...,...,...,...,...
96421,NSE_EQ|IN1620210212,8580,74HR37,SDL HR 7.4% 2037,0.00,NaN,NaN,0.01,100.0,EQUITY,NaN,NSE_EQ
96444,NSE_EQ|INE818A01017,13598,SELAN,SELAN EXPLO. TECH LTD,505.65,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
96452,NSE_EQ|IN1620210204,8575,726HR32,SDL HR 7.26% 2032,0.00,NaN,NaN,0.01,100.0,EQUITY,NaN,NSE_EQ
96507,NSE_EQ|IN1120220018,13372,762AR32,SDL AR 7.62% 2032,0.00,NaN,NaN,0.01,100.0,EQUITY,NaN,NSE_EQ
96509,NSE_EQ|INE204E01012,3389,AGARIND,AGARWAL INDS CORP LTD.,973.85,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ